@use "../../styles/mixins" as m;

.fileList {
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.items {
  padding: 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-low);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 0.25rem;
}

.previewWrapper {
  @include m.background-dashed(#fff, var(--color-blue-050));

  grid-column: 1/-1;
  grid-row: 1/2;
  aspect-ratio: 1920/1080;
}

.name {
  @include m.background-dashed;
  @include m.unselectable;

  grid-row: 2/3;
  grid-column: 1/2;
  color: #fff;
  padding: 0.25rem;
  font-size: var(--font-size-medium);
  line-height: 1;
  border-radius: 0.25rem;
  overflow: hidden;
  white-space: nowrap;

  span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.remove {
  path {
    stroke: #fff;
    stroke-width: 1.75;
  }
}
