@use "../../styles/mixins" as m;

[data-theme="light"] {
  .logo {
    --color: var(--color-accent-07);
    --shadow-color: var(--color-accent-04);
  }
}

[data-theme="dark"] {
  .logo {
    --color: var(--color-accent-06);
    --shadow-color: var(--color-accent-09);
  }
}

.header {
  grid-row: 1/2;
  grid-column: 1/2;
  height: fit-content;
}

.logo {
  @include m.unselectable;

  color: var(--color);
  text-shadow: 0 var(--border-width-thick) 0 var(--shadow-color);
  font-size: 2.25rem;
  text-align: center;
  line-height: 1;
}
