@use "../../styles/mixins" as m;

[data-theme="light"] {
  .heading {
    --color-text: var(--color-accent-07);
    --color-shadow: var(--color-accent-04);
  }
}

[data-theme="dark"] {
  .heading {
    --color-text: var(--color-accent-06);
    --color-shadow: var(--color-accent-09);
  }
}

.header {
  grid-row: 1/2;
  grid-column: 1/2;
  height: fit-content;
  display: flex;
}

.toggles {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.25rem;
  padding: 0.25rem 0 calc(0.25rem + var(--border-width-medium));
}

.languageToggle {
  --inline-size: 1.875rem;

  span {
    border-left: none;
    padding-left: var(var(--border-width-thin));
  }
}

.themeToggle {
  span {
    border-right: none;
    padding-right: var(var(--border-width-thin));
  }
}

.languageToggle,
.themeToggle {
  display: block;
}

.logo {
  z-index: 1;
  position: relative;
  flex-grow: 1;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  @include m.unselectable;

  text-shadow: 0 var(--border-width-thick) 0 var(--color-shadow);
  color: var(--color-text);
  font-size: 2.25rem;
  text-align: center;
  line-height: 1;
}
