@use "../../styles/mixins" as m;

.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
  flex-grow: 1;

  > div:nth-child(3) {
    @include m.background-dashed(#fff, var(--color-blue-050));
    @include m.visual-border(var(--color-blue-050));

    border-radius: 0.5rem;
    position: relative;
    flex-grow: 1;
  }
}

.title {
  @include m.visually-hidden;
}

.select {
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-high);
}
