@use "../../styles/mixins" as m;

.spinButton {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-low);
  display: flex;
  gap: 0.25rem;

  &:has(.value:focus-visible) {
    @include m.focus-outline;
  }
}

.trigger {
  path {
    stroke: #fff;
    stroke-width: 1.75;
  }
}

.triggerInc.triggerString {
  svg {
    rotate: 180deg;
  }
}

.value {
  @include m.unselectable;
  @include m.background-dashed-animated;

  z-index: 0;
  padding: 0 0.5rem;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  overflow: hidden;

  &[aria-disabled="true"] {
    @include m.background-dashed-animated(var(--color-slate-300));
    cursor: default;
  }

  &:focus-visible {
    outline: none;
  }
}
