@use "../../styles/mixins" as m;

[data-theme="light"] {
  .card {
    --color-background: var(--color-accent-01);
    --border-color: var(--color-accent-04);
  }
}

[data-theme="dark"] {
  .card {
    --color-background: var(--color-main-12);
    --border-color: var(--color-main-11);
  }
}

.card {
  @include m.border-3d(var(--border-color));

  position: relative;
  background-color: var(--color-background);
  padding: 0.75rem;
}
