@use "../../styles/mixins" as m;

[data-theme="dark"] {
  .button {
    --color-background: var(--color-main-08);
    --color-background-hover: var(--color-main-09);
    --color-border: var(--color-main-10);
    --color-text: var(--color-text-alt);

    &Colored:disabled {
      --color-background: var(--color-state-08);
      --color-background-hover: var(--color-state-09);
      --color-border: var(--color-state-10);
    }
  }
}

[data-theme="light"] {
  .button {
    --color-background: var(--color-accent-02);
    --color-background-hover: var(--color-accent-03);
    --color-border: var(--color-accent-04);
    --color-text: var(--color-accent-04);

    &Colored {
      --color-text: var(--color-text-alt);

      &:disabled {
        --color-background: var(--color-state-05);
        --color-background-hover: var(--color-state-06);
        --color-border: var(--color-state-07);
      }
    }
  }
}

[data-theme] {
  .button {
    --inline-size: auto;

    &Large {
      --block-size: 2rem;
      --padding-inline: 0.5rem;
      --gap: 0.5rem;
      --font-size: var(--font-size-medium);
      --svg-stroke-width: 2.25;
    }

    &Medium {
      --block-size: 1.5rem;
      --padding-inline: 0.25rem;
      --gap: 0.25rem;
      --font-size: var(--font-size-small);
      --svg-stroke-width: 2.5;
    }

    &Small {
      --block-size: 1.125rem;
      --padding-inline: 0.125rem;
      --gap: 0.125rem;
      --font-size: var(--font-size-small);
      --svg-stroke-width: 2.6;
    }

    &Icon {
      --padding-inline: 0;
    }

    &Colored {
      --color-background: var(--color-state-07);
      --color-background-hover: var(--color-state-08);
      --color-border: var(--color-state-09);
    }
  }
}

$padding: calc(var(--border-width-thick) - var(--border-width-thin));
$content-height: calc(var(--block-size) - var(--border-width-thick));

.button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 0;
  padding-bottom: $padding;
  background: linear-gradient(to bottom, transparent 0 50%, var(--color-border) 50% 100%);
  transition-property: margin-top, padding-bottom;
  transition-duration: var(--transition-duration-fastest);
  cursor: pointer;

  &Accent {
    @include m.color-state("accent");
  }

  &Error {
    @include m.color-state("error");
  }

  &Success {
    @include m.color-state("success");
  }

  &Sideways {
    &Lr,
    &Rl {
      .wrapper {
        writing-mode: vertical-lr;
      }
    }

    &Lr {
      .content {
        rotate: 180deg;
        transform-origin: center;
      }
    }
  }

  &:not(:disabled) {
    &:hover {
      .content {
        background-color: var(--color-background-hover);
      }
    }

    &:active {
      margin-top: $padding;
      padding-bottom: 0;
    }

    &:focus-visible {
      @include m.focus-outline(var(--color-accent-07));
    }
  }

  &:disabled {
    @include m.color-state("main");

    cursor: not-allowed;

    .content {
      @include m.background-dashed(var(--color-background), var(--color-background-hover));

      background-color: var(--color-background);
    }
  }
}

.wrapper {
  position: relative;
  display: block;
  inline-size: var(--inline-size);
  border: solid var(--border-width-thin) var(--color-border);
}

.content {
  @include m.unselectable;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: $content-height;
  min-inline-size: $content-height;
  padding-inline: var(--padding-inline);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size);
  line-height: 0.5;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration-fast);

  svg {
    block-size: 80%;
    inline-size: auto;
  }

  path {
    stroke: var(--color-text-alt);
    stroke-width: var(--svg-stroke-width);
  }
}
