@use "../../styles/mixins" as m;

$padding-active: calc(var(--border-width-thick) - var(--border-width-thin));

.button {
  all: unset;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  height: var(--height);
  min-width: calc(var(--height) - $padding-active);
  padding-bottom: $padding-active;
  background: none;
  border: none;

  @include m.unselectable;

  svg {
    height: 100%;
    width: auto;
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: var(--border-color);
    border-radius: inherit;
  }

  &:disabled {
    --background-color: var(--color-slate-300);
    --border-color: hsl(from var(--color-slate-300) h s calc(l - 15));

    color: #fff;
    cursor: not-allowed;

    &:focus-visible {
      outline: none;
    }
  }

  &:not(:disabled) {
    cursor: pointer;

    &:active {
      padding-top: $padding-active;
      padding-bottom: 0;

      .content {
        border-bottom-width: var(--border-width-thin);
      }
    }

    &:hover {
      .content {
        background-color: var(--background-color-hover);
      }
    }
  }

  &:focus-visible {
    @include m.focus-outline;
  }

  &Color {
    &None {
      --background-color: #fff;
      --background-color-hover: hsl(from #fff h s calc(l - 2.5));
      --border-color: hsl(from var(--color-blue-050) h s calc(l - 5));

      color: inherit;
    }

    &Blue {
      --background-color: var(--color-blue-500);
      --background-color-hover: hsl(from var(--color-blue-500) h s calc(l - 5));
      --border-color: hsl(from var(--color-blue-500) h s calc(l - 15));

      color: #fff;
    }
  }

  &Large {
    --height: 2rem;

    border-radius: 0.3666rem;

    .content {
      padding: 0 0.75rem;
    }
  }

  &Medium {
    --height: 1.5rem;

    border-radius: 0.25rem;

    .content {
      padding: 0 0.5rem;
    }
  }

  &Small {
    --height: 1.25rem;

    border-radius: 0.2rem;
    font-size: var(--font-size-small);

    .content {
      padding: 0;
    }
  }

  &Icon {
    .content {
      padding: 0;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  height: 100%;
  border-radius: inherit;
  background-color: var(--background-color);
  border: solid var(--border-width-thin) var(--border-color);
}
