@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin unselectable() {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin focus-outline($color: var(--color-blue-500)) {
  outline: dotted var(--border-width-medium) $color;
  outline-offset: var(--border-width-thin);
}

@mixin background-dashed($color-1: var(--color-blue-500), $color-2: hsl(from $color-1 h s calc(l - 5))) {
  background: repeating-linear-gradient(-45deg, $color-1 0, $color-1 0.3rem, $color-2 0.3rem, $color-2 0.6rem);
}

@mixin background-dashed-animated($color-1: var(--color-blue-500), $color-2: hsl(from $color-1 h s calc(l - 5))) {
  @include background-dashed($color-1, $color-2);

  background-size: 200% 100%;
  animation-name: move-bg;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;

  @keyframes move-bg {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: 0 0;
    }
  }
}
