:root {
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;

  --border-width-thin: 0.0625rem;
  --border-width-medium: 0.125rem;
  --border-width-thick: 0.1875rem;

  --transition-duration-slowest: 1s;
  --transition-duration-slower: 0.5s;
  --transition-duration-slow: 0.25s;
  --transition-duration-fast: 0.125s;
  --transition-duration-faster: 0.0625s;
  --transition-duration-fastest: 0.03125s;
}

[data-theme="light"] {
  color-scheme: light;

  --color-main-13: oklch(0.15 0.016 258.039);
  --color-main-12: oklch(0.217 0.024 258.039);
  --color-main-11: oklch(0.283 0.031 258.039);
  --color-main-10: oklch(0.35 0.038 258.039);
  --color-main-09: oklch(0.417 0.045 258.039);
  --color-main-08: oklch(0.483 0.053 258.039);
  --color-main-07: oklch(0.55 0.06 258.039);
  --color-main-06: oklch(0.617 0.061 258.039);
  --color-main-05: oklch(0.683 0.049 258.039);
  --color-main-04: oklch(0.75 0.038 258.039);
  --color-main-03: oklch(0.817 0.027 258.039);
  --color-main-02: oklch(0.883 0.017 258.039);
  --color-main-01: oklch(0.95 0.007 258.039);

  --color-accent-13: oklch(0.25 0.042 255);
  --color-accent-12: oklch(0.308 0.051 255);
  --color-accent-11: oklch(0.367 0.061 255);
  --color-accent-10: oklch(0.425 0.071 255);
  --color-accent-09: oklch(0.483 0.081 255);
  --color-accent-08: oklch(0.542 0.09 255);
  --color-accent-07: oklch(0.6 0.1 255);
  --color-accent-06: oklch(0.658 0.094 255);
  --color-accent-05: oklch(0.717 0.076 255);
  --color-accent-04: oklch(0.775 0.059 255);
  --color-accent-03: oklch(0.833 0.043 255);
  --color-accent-02: oklch(0.892 0.027 255);
  --color-accent-01: oklch(0.95 0.012 255);
}

[data-theme="dark"] {
  color-scheme: dark;

  --color-main-13: oklch(0.153 0.005 285.938);
  --color-main-12: oklch(0.22 0.007 285.938);
  --color-main-11: oklch(0.286 0.009 285.938);
  --color-main-10: oklch(0.352 0.011 285.938);
  --color-main-09: oklch(0.419 0.013 285.938);
  --color-main-08: oklch(0.485 0.015 285.938);
  --color-main-07: oklch(0.552 0.014 285.938);
  --color-main-06: oklch(0.618 0.011 285.938);
  --color-main-05: oklch(0.684 0.009 285.938);
  --color-main-04: oklch(0.751 0.007 285.938);
  --color-main-03: oklch(0.817 0.005 285.938);
  --color-main-02: oklch(0.884 0.003 285.938);
  --color-main-01: oklch(0.95 0.001 285.938);

  --color-accent-13: oklch(0.15 0.045 283.599);
  --color-accent-12: oklch(0.217 0.065 283.599);
  --color-accent-11: oklch(0.283 0.085 283.599);
  --color-accent-10: oklch(0.35 0.104 283.599);
  --color-accent-09: oklch(0.417 0.124 283.599);
  --color-accent-08: oklch(0.483 0.144 283.599);
  --color-accent-07: oklch(0.55 0.131 283.599);
  --color-accent-06: oklch(0.617 0.109 283.599);
  --color-accent-05: oklch(0.683 0.088 283.599);
  --color-accent-04: oklch(0.75 0.067 283.599);
  --color-accent-03: oklch(0.817 0.048 283.599);
  --color-accent-02: oklch(0.883 0.03 283.599);
  --color-accent-01: oklch(0.95 0.012 283.599);
}
