.textInput {
  height: 3rem;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-high);
  outline: solid var(--border-width-medium) transparent;

  &::placeholder {
    color: var(--color-slate-400);
  }

  &:focus-visible {
    outline-color: var(--color-blue-500);
  }

  &::selection {
    color: #fff;
    background-color: var(--color-blue-500);
  }
}
