@use "../../styles/mixins" as m;

.sidebarMotion {
  position: relative;
  z-index: 3;
  width: 16.3125rem;
  display: flex;
  flex-direction: row;
}

@include m.mobile {
  .sidebarMotion {
    flex-direction: row-reverse;
  }
}
