.label {
  display: inline-flex;
  line-height: 1;
  flex-direction: column;
  gap: 0.25rem;
  cursor: default;

  &Horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}
