.label {
  display: inline-flex;
  line-height: 1;
  flex-direction: column;
  gap: 0.25rem;
  cursor: default;

  &:has(:disabled) {
    &::selection {
      background-color: var(--color-main-07);
      color: var(--color-text-alt);
    }
  }

  &Horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}
