.settings {
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-high);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.stringItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
