@use "../../styles/mixins" as m;

[data-theme="light"] {
  .card {
    --color-background: var(--color-accent-01);
    --color-border: var(--color-accent-04);
  }

  .card,
  .menu {
    --box-shadow: 0 0 0.125rem 0 hsl(from var(--color-accent-06) h s l / 0.5);
  }
}

[data-theme="dark"] {
  .card {
    --color-background: var(--color-main-12);
    --color-border: var(--color-main-11);
  }

  .card,
  .menu {
    --box-shadow: unset;
  }
}

$menu-gap: 0.25rem;

.card {
  @include m.border-3d(var(--color-border));

  z-index: 2;
  position: relative;
  background-color: var(--color-background);
  padding: 0.75rem;
  box-shadow: var(--box-shadow);
}

.menu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: $menu-gap;
  padding-top: calc($menu-gap + var(--border-width-thin));
  padding-bottom: calc($menu-gap + var(--border-width-medium));

  &Item {
    display: block;
    box-shadow: var(--box-shadow);

    & > button {
      display: block;
    }
  }
}
