@use "../../styles/mixins" as m;

.filePicker {
  position: fixed;
  display: flex;
  max-width: 40rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  top: 1rem;
  left: 1rem;

  &Loading {
    .spinner {
      visibility: visible;
      opacity: 1;
    }

    .urlInput {
      padding-right: 3.75rem;
    }
  }

  &Error:not(.filePickerLoading) {
    animation: shake 0.5s linear 0s 1;

    @keyframes shake {
      0% {
        translate: 0 0;
      }
      25% {
        translate: 1rem 0;
      }
      50% {
        translate: -1rem 0;
      }
      75% {
        translate: 1rem 0;
      }
      100% {
        translate: 0 0;
      }
    }
  }
}

.fileInput {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);

  button {
    &:has(+ .fileInput:focus-visible) {
      outline: solid 2px red;
    }

    path {
      stroke: var(--text-color);
    }
  }

  input {
    @include m.visually-hidden;
  }
}

.urlInput {
  flex-grow: 1;
  padding-left: 3.25rem;
}

.spinner {
  position: absolute;
  right: 1.125rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
  pointer-events: none;
  fill: var(--color-blue-500);

  visibility: hidden;
  opacity: 0;

  transition-property: visibility, opacity;
  transform-origin: top left;
  transition-duration: var(--transition-duration-fast);
}
