@use "../../styles/mixins" as m;

$drop-border: dashed var(--border-width-medium) var(--drop-color-border-outer);
$drop-background-border: solid var(--border-width-thin) var(--drop-color-border-inner);

[data-theme="light"] {
  .uploader {
    --drop-color-border-outer: var(--color-state-05);
    --drop-color-border-inner: var(--color-state-04);
    --drop-color-background: var(--color-state-03);
  }
}

[data-theme="dark"] {
  .uploader {
    --drop-color-border-outer: var(--color-state-07);
    --drop-color-border-inner: var(--color-state-07);
    --drop-color-background: var(--color-main-11);
  }
}

.uploader {
  --padding: 0.75rem;

  @include m.state-color("accent");

  display: flex;
  flex-direction: column;
  padding: var(--padding);
  transition-property: padding;
  transition-duration: var(--transition-duration-fast);

  &DraggingOver {
    &.uploader {
      &DragValid {
        @include m.state-color("success");

        &:not(.uploaderDisabled) {
          --padding: 0.5rem;

          .dropBackground {
            animation-play-state: running;
          }
        }
      }

      &DragInvalid {
        @include m.state-color("error");
      }

      &Disabled {
        @extend .uploaderDragInvalid;
      }
    }
  }

  &Uploading {
    .dropBackground {
      animation-play-state: running;
    }
  }
}

.dropzone {
  flex-grow: 1;
  border: $drop-border;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
}

.dropBackground {
  @include m.background-dashed-animated(var(--color-background), var(--drop-color-background));

  position: relative;
  flex-grow: 1;
  border: $drop-background-border;
  animation-duration: 7.5s;
}

.status,
.fileCount {
  @include m.unselectable;

  position: absolute;
  top: 0;
  padding: var(--border-width-medium) 0.25rem;
  background-color: var(--color-background);
  border-bottom: $drop-background-border;
  color: var(--drop-color-border-outer);
  line-height: 1;
}

.status {
  left: 0;
  border-right: $drop-background-border;
}

.fileCount {
  right: 0;
  border-left: $drop-background-border;
}

.fileInput {
  $padding: calc(0.25rem + var(--border-width-medium));

  position: absolute;
  left: var(--padding);
  bottom: var(--padding);
  background-color: var(--color-background);
  padding: $padding $padding 0 0;
  transition-property: left, bottom;
  transition-duration: var(--transition-duration-fast);

  &Button {
    z-index: 3;
    position: relative;

    &:has(+ input:focus-visible) {
      @include m.focus-outline(var(--color-state-07));
    }
  }

  input {
    @include m.visually-hidden;
  }

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: $padding;
    bottom: $padding;
    right: calc(-0.25rem - var(--border-width-thin));
    top: calc(-0.25rem - var(--border-width-thin));
    background-color: var(--color-background);
    border-right: $drop-background-border;
    border-top: $drop-background-border;
  }

  &::after {
    content: "";
    z-index: 2;
    position: absolute;
    inset: 0;
    border-top: $drop-border;
    border-right: $drop-border;
  }
}
