@use "../../styles/mixins" as m;

$drop-border: dashed var(--border-width-medium) var(--drop-color-border-outer);
$drop-background-border: solid var(--border-width-thin) var(--drop-color-border-inner);

[data-theme="light"] {
  .uploader {
    --drop-color-border-outer: var(--color-accent-05);
    --drop-color-border-inner: var(--color-accent-04);
    --drop-color-background: var(--color-accent-03);

    &DraggingOver {
      &.uploaderDragValid {
        --drop-color-border-outer: var(--color-success-dimmed-05);
        --drop-color-border-inner: var(--color-success-dimmed-04);
        --drop-color-background: var(--color-success-dimmed-03);
      }

      &.uploaderDragInvalid {
        --drop-color-border-outer: var(--color-error-dimmed-05);
        --drop-color-border-inner: var(--color-error-dimmed-04);
        --drop-color-background: var(--color-error-dimmed-03);
      }
    }
  }
}

[data-theme="dark"] {
  .uploader {
    --drop-color-border-outer: var(--color-accent-07);
    --drop-color-border-inner: var(--color-accent-07);
    --drop-color-background: var(--color-main-11);

    &DraggingOver {
      &.uploaderDragValid {
        --drop-color-border-outer: var(--color-success-07);
        --drop-color-border-inner: var(--color-success-07);
      }

      &.uploaderDragInvalid {
        --drop-color-border-outer: var(--color-error-07);
        --drop-color-border-inner: var(--color-error-07);
      }
    }
  }
}

.uploader {
  --padding: 0.75rem;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  transition-property: padding;
  transition-duration: var(--transition-duration-fast);

  &DraggingOver {
    &.uploaderDragValid:not(.uploaderDisabled) {
      --padding: 0.5rem;

      .pad {
        animation-play-state: running;
      }

      .table {
        position: absolute;
        opacity: 0.5;
        inset: 2.2rem 1rem 3.35rem;
      }
    }

    &.uploaderDisabled {
      @extend .uploaderDragInvalid;
    }
  }

  &Uploading {
    .pad {
      animation-play-state: running;
    }
  }
}

.dropzone {
  position: relative;
  flex-grow: 1;
  border: $drop-border;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--border-width-medium);
  overflow: hidden;
}

.pad {
  @include m.background-dashed-animated(var(--color-background), var(--drop-color-background));

  z-index: 1;
  position: relative;
  flex-grow: 1;
  border: $drop-background-border;
  animation-duration: 7.5s;
  min-height: 10rem;
  pointer-events: none;
}

.status,
.fileCount {
  @include m.unselectable;

  position: absolute;
  top: 0;
  padding: var(--border-width-medium) 0.25rem;
  background-color: var(--color-background);
  border-bottom: $drop-background-border;
  color: var(--drop-color-border-outer);
  line-height: 1;
}

.status {
  left: 0;
  border-right: $drop-background-border;
}

.fileCount {
  right: 0;
  border-left: $drop-background-border;
}

.fileInput {
  $padding: calc(0.25rem + var(--border-width-medium));

  position: absolute;
  left: var(--padding);
  bottom: var(--padding);
  background-color: var(--color-background);
  padding: $padding $padding 0 0;
  transition-property: left, bottom;
  transition-duration: var(--transition-duration-fast);

  &Button {
    z-index: 3;
    position: relative;

    &:has(+ input:focus-visible) {
      @include m.focus-outline(var(--color-state-07));
    }
  }

  input {
    @include m.visually-hidden;
  }

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: $padding;
    bottom: $padding;
    right: calc(-0.25rem - var(--border-width-thin));
    top: calc(-0.25rem - var(--border-width-thin));
    background-color: var(--color-background);
    border-right: $drop-background-border;
    border-top: $drop-background-border;
  }

  &::after {
    content: "";
    z-index: 2;
    position: absolute;
    inset: 0;
    border-top: $drop-border;
    border-right: $drop-border;
  }
}

.table {
  z-index: 2;
  position: relative;
}

.tableRow {
  grid-template-columns: 1.375rem 1fr 3.5rem 1.375rem 1.375rem;
}

.removeFile {
  svg {
    height: 100%;
  }

  path {
    stroke-width: 2;
  }
}

.previewFile,
.editFile {
  svg {
    height: 95%;
  }

  path {
    stroke-width: 2.125;
  }
}
