@use "../../styles/mixins" as m;

$drop-border: dashed var(--border-width-medium) var(--drop-color-border-outer);

[data-theme="light"] {
  .uploader {
    --drop-color-border-outer: var(--color-state-05);
    --drop-color-border-inner: var(--color-state-04);
    --drop-color-background: var(--color-state-03);
  }
}

[data-theme="dark"] {
  .uploader {
    --drop-color-border-outer: var(--color-state-07);
    --drop-color-border-inner: var(--color-state-07);
    --drop-color-background: var(--color-main-11);
  }
}

.uploader {
  @include m.state-color("accent");

  display: flex;
  flex-direction: column;
  transition-property: padding;
  transition-duration: var(--transition-duration-fast);

  &DraggingOver {
    &.uploader {
      &DragValid {
        @include m.state-color("success");

        &:not(.uploaderDisabled) {
          padding: 0.5rem;

          .dropBackground {
            animation-play-state: running;
          }
        }
      }

      &DragInvalid {
        @include m.state-color("error");
      }

      &Disabled {
        @extend .uploaderDragInvalid;
      }
    }
  }

  &Uploading {
    .dropBackground {
      animation-play-state: running;
    }
  }
}

.dropzone {
  flex-grow: 1;
  border: $drop-border;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
}

.dropBackground {
  @include m.background-dashed-animated(var(--color-background), var(--drop-color-background));

  position: relative;
  flex-grow: 1;
  border: solid var(--border-width-thin) var(--drop-color-border-inner);
  animation-duration: 7.5s;
}

.status,
.fileCount {
  @include m.unselectable;

  position: absolute;
  top: 0;
  padding: var(--border-width-medium) 0.25rem;
  background-color: var(--color-background);
  border-bottom: solid var(--border-width-thin) var(--drop-color-border-inner);
  color: var(--drop-color-border-outer);
  line-height: 1;
}

.status {
  left: 0;
  border-right: solid var(--border-width-thin) var(--drop-color-border-inner);
}

.fileCount {
  right: 0;
  border-left: solid var(--border-width-thin) var(--drop-color-border-inner);
}
