@use "./styles/modern-normalize";
@use "./styles/reset";
@use "./styles/fonts";
@use "./styles/theme";

html {
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: var(--color-slate-600);
  font-weight: 500;
}

*::selection {
  color: #fff;
  background-color: var(--color-blue-500);
}
