@use "styles/normalize";
@use "styles/reset";
@use "styles/fonts";
@use "styles/theme";

[data-theme="light"] {
  body {
    --color-background: var(--color-accent-02);
    --color-text: var(--color-main-07);
    --color-text-alt: var(--color-accent-01);
  }
}

[data-theme="dark"] {
  body {
    --color-background: var(--color-main-13);
    --color-text: var(--color-main-01);
    --color-text-alt: var(--color-text);
  }
}

body {
  font-family: "Roboto";
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  font-weight: 500;
}

#root {
  height: 100dvh;
  padding: 0.5rem;
}

*::selection {
  background-color: var(--color-accent-07);
  color: var(--color-text-alt);
}
