@use "styles/normalize";
@use "styles/reset";
@use "styles/fonts";
@use "styles/theme";

[data-theme="light"] {
  body {
    --background-color: var(--color-accent-02);
    --color: var(--color-main-08);
    --color-alt: var(--color-accent-01);
  }
}

[data-theme="dark"] {
  body {
    --background-color: var(--color-main-13);
    --color: var(--color-main-01);
    --color-alt: var(--color);
  }
}

body {
  font-family: "Roboto";
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  font-weight: 500;
}

#root {
  height: 100dvh;
  padding: 0.5rem;
}

*::selection {
  background-color: var(--color-accent-07);
  color: var(--color-alt);
}
