.settings {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.75rem;
  gap: 0.5rem;
}

.list {
  flex-grow: 1;
  padding: 0.25rem 0.25rem 0;
  display: flex;
  flex-direction: column;
}

.divider,
.remember,
.reset {
  margin: 0 0.25rem;
}

.reset {
  inline-size: auto;
}
