.settings {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.75rem;
  overflow: hidden;
  gap: 0.25rem;
}

.list {
  flex-grow: 1;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
  scrollbar-width: none;
}

.itemBoolean {
  display: flex;
}

.itemString {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .label {
    line-height: 0.9;
  }
}

.divider,
.reset {
  margin: 0 0.25rem;
}

.remember {
  margin: 0.25rem;
}

.reset {
  inline-size: auto;
}
