@use "../../styles/mixins" as m;

.downloader {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-high);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;

  // &:has(.input:focus) {
  //   outline: solid var(--border-width-medium) var(--color-blue-500);
  // }
}

.input {
  grid-column: 1/-1;
  padding: 0;
  border: 0;
  background: none;
  margin-bottom: 0.25rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--color-slate-300);
    text-align: center;
  }
}

.message,
.speed,
.progress {
  @include m.background-dashed;
  @include m.unselectable;

  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-medium);
  line-height: 1;
  border-radius: 0.25rem;
  text-align: center;

  &:has(+ .speed) {
    grid-column: 1/2;
  }
}

.message {
  grid-column: 1/-1;
}

.speed {
  grid-column: 2/3;
}

.progress {
  grid-column: 1/-1;

  &Active {
    @include m.background-dashed-animated;
    animation-play-state: running;
  }
}

.download {
  grid-column: 1/-1;
}

.preview {
  @include m.background-dashed(#fff, var(--color-blue-050));

  grid-column: 1/-1;
  aspect-ratio: 1920 / 1080;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img,
  video {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }
}
