@use "../../styles/mixins" as m;

.downloader {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-high-reverse);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;

  // &:has(.input:focus-visible) {
  //   @include m.focus-outline;
  // }
}

.input {
  grid-column: 1/-1;
  padding: 0;
  border: 0;
  background: none;
  margin-bottom: 0.25rem;

  &::placeholder {
    color: var(--color-slate-300);
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    @include m.unselectable;
  }
}

.message,
.speed,
.progress {
  @include m.background-dashed;
  @include m.unselectable;

  color: #fff;
  padding: 0.25rem;
  font-size: var(--font-size-medium);
  line-height: 1;
  border-radius: 0.25rem;
  text-align: center;

  &:has(+ .speed) {
    grid-column: 1/2;
  }
}

.message {
  grid-column: 1/-1;
}

.speed {
  grid-column: 2/3;
}

.progress {
  grid-column: 1/-1;

  &Active {
    @include m.background-dashed-animated;
    animation-play-state: running;
  }
}

.download {
  grid-column: 1/-1;
}
